src/by/it/tsiamruk/jd02_07/paymentSystem.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://tsiamruk.it-academy.by/xml/paymentSystem"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="PaymentSystem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Clients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Client" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Email"/>
                                        <xs:element type="xs:string" name="Login"/>
                                        <xs:element type="xs:string" name="Password"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Accounts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Account" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="TotalAmount"/>
                                        <xs:element type="xs:string" name="Status"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Admin">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Login"/>
                            <xs:element type="xs:string" name="Password"/>
                            <xs:element name="UnlockAccount">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="getId"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>