src/by/it/tsiamruk/jd02_07/classwork/ad.dtd

<!ELEMENT Persons (Person)+>
        <!ELEMENT Person (Email, Nickname, Password, Ads)>
        <!ELEMENT Email (#PCDATA)>
        <!ELEMENT Nickname (#PCDATA)>
        <!ELEMENT Password (#PCDATA)>
        <!ELEMENT Ads(Ad)+>
        <!ELEMENT Ad (Description, Adress, Floor, Floors, Square)>
        <!ELEMENT Description (#PCDATA)>
        <!ELEMENT Adress (#PCDATA)>
        <!ELEMENT Floor (#PCDATA)>
        <!ELEMENT Floors (#PCDATA)>
        <!ELEMENT Square (#PCDATA)>
