src/by/it/sukora/jd02_07/hospital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://jd02_07.sukora.it.by/xml/Hospital"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Hospital">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Patients">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Patient" maxOccurs="unbounded" minOccurs="0">

                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName" type="xs:Name"/>
                                        <xs:element name="LastName" type="xs:Name"/>
                                        <xs:element name="Sex">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="M"/>
                                                    <xs:enumeration value="F"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="DateOfBirth" type="xs:string"/>
                                        <xs:element name="Passport" type="xs:string"/>
                                        <xs:element name="IssuedBy" type="xs:string"/>
                                        <xs:element name="IssuedDate" type="xs:string"/>
                                        <xs:element name="Login" type="xs:string"/>
                                        <xs:element name="Password" type="xs:string"/>
                                        <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="5"/>
                                        <xs:element name="Address"  minOccurs="1" maxOccurs="3">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Country" type="xs:string" />
                                                    <xs:element name="City" type="xs:string" />
                                                    <xs:element name="Street" type="xs:string" />
                                                    <xs:element name="Building" type="xs:string" />
                                                    <xs:element name="Flat" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MedicalCard"  minOccurs="1" maxOccurs="3">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Diagnosis"  minOccurs="1" maxOccurs="7">

                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Disease" type="xs:string" />
                                                                <xs:element name="Sibptomps" type="xs:string" />
                                                                <xs:element name="PeriodStart" type="xs:string" />
                                                                <xs:element name="PeriodEnd" type="xs:string" />
                                                                <xs:element name="Recipe" type="xs:string" />
                                                            </xs:sequence>
                                                            <attribute name="id" type="positiveInteger" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                    <attribute name="name" type="positiveInteger" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>э
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
